<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{nav.html::navbar}"></div>
<form action="/search" method="POST">
    <input name="searchText" style="display:inline">
    <button>검색</button>
</form>
<div class="card" th:each="i : ${items}">
    <img th:src="${i.imgUrl != null} ? ${i.imgUrl} : 'https://placehold.co/300'">

    <div>
        <h4 th:text="${i.title}">바지</h4>
        <a th:href="@{'/detail/' +${i.id}}">링크</a>
        <p th:text="${i.price}">7억</p>
        <a th:href="@{'/edit/' + ${i.id}}">✏️</a>
        <span th:onclick="fetch('/item?id=[[${i.id}]]', {
          method: 'DELETE'
      })
       .then(r=>r.text())
        .then(()=>{
        location.reload();
        })">🗑️</span>

    </div>
</div>
<!--<div class="pagination" th:if="${count != null}">-->
<!--    <a th:each="pageNum : ${#numbers.sequence(1, count)}"-->
<!--       th:href="@{'/search/page/' + ${pageNum} + ${searchText}}"-->
<!--       th:text="${pageNum}"-->
<!--       style="margin: 0 5px; text-decoration: none;">-->
<!--    </a>-->
<!--</div>-->


</body>
</html>